#app {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background: linear-gradient(40deg,#2096ff,#05ffa3);
}

.my-navbar {
  background-color: transparent !important;
}

.my-navbar {
  padding-left: 0;
}

.my-navbar .active {
  font-weight: bold;
  color: darkorange !important;
}

.navbar-toggler {
  padding: .1rem .3rem;
  font-size: .8rem;
  outline: none !important;
}

.card-body {
  padding: 1rem;
}

.card-1 {
  background: #20c997 !important;
}

.card-2 {
  background: #00cbff !important;
}

.card-1-content {
  color: #fff !important;
}

.card-2-content {
  color: #fff !important;
}

.card-3-content {
  color: #000 !important;
}

.card-body {
  max-height: 82vh;
  overflow: scroll;
}

.list-group-item {
  color: #fff;
  padding: .5rem .2rem;
}

.list-group-item p {
  margin-bottom: .5rem;
}

@media (min-width: 768px) {
  .card {
    width: 90%;
    margin: auto;
  }
}